<div class="content">
    <div class="row" style="margin-left: 0">
        <div class="col-6 mat-elevation-z1 chart">
            <app-chart [data]="data[0]"></app-chart>
        </div>
        <div class="col-6 mat-elevation-z1 chart">
            <app-chart [data]="data[1]"></app-chart>
        </div>
        <div class="col-6 mat-elevation-z1 chart">
            <app-chart [data]="data[2]"></app-chart>
        </div>
        <div class="col-6 mat-elevation-z1 chart">
            <app-chart [data]="data[3]"></app-chart>
        </div>
    </div>

</div>