<mat-sidenav-container class="h-100 w-100">
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
                 [(opened)]="opened">
        <mat-nav-list class="nav-width">
            <ng-container *ngFor="let country of navbarData">
                <mat-list-item [routerLink]="[country.redirectUrl]"
                               (click)="toggleExpanded(country)"
                               routerLinkActive="active"
                               title="{{'NAVBAR.' + country.nameKeyScope + '.NAME' | translate}}">
                    <div mat-line>
                        {{'NAVBAR.' + country.nameKeyScope + '.NAME'| translate}}
                    </div>
                </mat-list-item>
                <ng-container *ngIf="country.children.length && country.expanded">
                    <div class="nav-indent" *ngFor="let voivodeship of country.children">
                        <mat-nav-list>
                            <mat-list-item routerLinkActive="active"
                                           [routerLink]="[country.redirectUrl, voivodeship.redirectUrl]"
                                           title="{{'NAVBAR.' + country.nameKeyScope + '.' + voivodeship.nameKeyScope + '.NAME' | translate}}"
                                           (click)="toggleExpanded(voivodeship)">
                                <div mat-line>
                                    {{'NAVBAR.' + country.nameKeyScope + '.' + voivodeship.nameKeyScope + '.NAME' | translate}}
                                </div>
                            </mat-list-item>
                        </mat-nav-list>
                        <ng-container *ngIf="voivodeship.children.length && voivodeship.expanded">
                            <div class="nav-indent" *ngFor="let county of voivodeship.children">
                                <mat-nav-list>
                                    <mat-list-item routerLinkActive="active"
                                                   [routerLink]="[country.redirectUrl, voivodeship.redirectUrl, county.redirectUrl]"
                                                   title="{{'NAVBAR.' + country.nameKeyScope + '.' + voivodeship.nameKeyScope + '.' + county.nameKeyScope + '.NAME' | translate}}">
                                        <div mat-line>
                                            {{'NAVBAR.' + country.nameKeyScope + '.' + voivodeship.nameKeyScope + '.' + county.nameKeyScope + '.NAME' | translate}}
                                        </div>
                                    </mat-list-item>
                                </mat-nav-list>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </ng-container>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="content-wrapper">
            <mat-toolbar class="header">
                <button mat-icon-button class="navbar-trigger-button" (click)="sidenav.toggle()">
                    <mat-icon [inline]="true" class="large-icon">menu</mat-icon>
                </button>
                <mat-toolbar-row class="h-100">
                    <span>
                        {{getHeaderTittle() | translate }}
                    </span>
                </mat-toolbar-row>

            </mat-toolbar>
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
